# Python byte-code
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python

# Virtual environment
backend/venv/
env/

# Environment variables
backend/.env

# Test and coverage
.pytest_cache/
coverage*
htmlcov/

# IDE files
.idea/
*.iml
.vscode/

# Local configuration
local_settings.py
config.ini  # Or any other config file

# Database files
*.sqlite
*.db

# Logs
*.log

# Build artifacts
build/
dist/
.eggs/
*.egg-info/

# Flask-specific
instance/

# Additional patterns
# npm-debug.log
# *.swp

# Frontend-specific
frontend/node_modules/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.cache/
frontend/build/
frontend/dist/
frontend/.next/

# Ignore lockfiles (optional)
*.lock
